.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.wcapp .text-success {
  color: #E91E63 !important;
}

.wcapp .bg-success {
  color: #E91E63 !important;
}

#section-testimonials .stat {
  margin-bottom: 30px;
}

#section-testimonials .stat h3 {
  font-size: 32px;
  line-height: 0.7;
}

#section-testimonials .stat h3 small {
  font-size: 14px;
  text-transform: uppercase;
  color: #666;
  font-weight: bold;
}

.worldmap-bg {
  background: url('./img/worldmap.png') no-repeat center center;
  background-size: contain;
}

.testimonial {
  -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,.5);
  box-shadow: 0 0 20px 0 rgba(0,0,0,.5);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: none;
}

.testimonial .card-footer {
  line-height: 1;
  background-color: #E91E63;
}

.testimonial .card-footer a {
  color: #fff;
}

.testimonial p.card-text {
  margin-bottom: 35px;
}
.testimonial .card-footer .person {
  -webkit-border-radius: 100px;
  border-radius: 100px;
  height: 100px;
  width: 100px;
  margin-top: -60px;
  margin-bottom: 20px;
}

.testimonial .card-footer h3 {
  font-size: 15px;
  letter-spacing: 0;
  color: #fff;
  margin: 0;
  line-height: 1;
  font-weight: 300;
}

.testimonial .card-footer h5 {
  margin: 0;
  color: #fff;
  letter-spacing: inherit;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.7;
}

.testimonial .card-footer small {
  margin-bottom: 5px;
  color: #f6f6f6;
  font-weight: 300;
}

.box-shadow {
  -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,.4);
  box-shadow: 0 0 15px 0 rgba(0,0,0,.4);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
