.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.worldmap-bg {
  background: url('./img/worldmap.png') no-repeat center center;
  background-size: contain;
}

.testimonial {
  -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,.5);
  box-shadow: 0 0 20px 0 rgba(0,0,0,.5);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: none;
}

.testimonial .card-footer {
  line-height: 1;
  background-color: #46da60;
}

.testimonial .card-footer h5 {
  margin: 0;
  color: #fff;
}

.testimonial .card-footer small {
  margin-bottom: 5px;
  color: #f6f6f6;
}

.box-shadow {
  -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,.4);
  box-shadow: 0 0 15px 0 rgba(0,0,0,.4);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
